@page
@model PrivacyModel
@{
    ViewData["Title"] = "Info";
}
@* <h1>@ViewData["Title"]</h1> *@

<!DOCTYPE html>
<html>
<head>
    <title>Web Terminal</title>
    <link rel="stylesheet" href="~/css/styles.css"/>
</head>
<body>
    <h1 class="txt">info</h1>
    
        <p class="LilTxt">Tick-tock, laugh o'clock! Welcome to Your Website Name, where humor has its own schedule. We've redefined the meme-sharing experience with our innovative clock countdown. Set at 24 hours, our clock is the heartbeat of your daily meme infusion.</p>

        <p class="LilTxt">Picture this: a dynamic platform that uploads three side-splitting memes to your Instagram every time the clock hits zero. It's like clockwork comedy! You won't miss a single moment of hilarity, as our curated selection spans a spectrum of topics, keeping your feed fresh and funny.</p>

        <p class="LilTxt">Navigating Your Website Name is as easy as checking the time. Witness the magic as the clock winds down, signaling the arrival of your daily meme trio. It's the perfect solution for busy meme lovers who want humor delivered on schedule.</p>

        <p class="LilTxt">Join our community of clock-watchers and meme enthusiasts today. Your Website Name is not just a website; it's your daily rendezvous with laughter. Embrace the countdown, embrace the memes, and let the laughter begin.</p>
    

        <script src="~/js/Index.js"></script>
</body>
</html>