@page
@model TerminalModel
@{
    ViewData["Title"] = "TERMINAL";
}

<!DOCTYPE html>
<html>
<head>
    <title>Web Terminal</title>
    <link rel="stylesheet" href="~/css/styles.css"/>
</head>
<body>
    <div id="console">
        <h6 style="color: #ffffff;">
            TERMINAL
        </h6>
        <div id="output"></div>
            <input id="input" type="text" autofocus>
    </div>

        <script src="~/js/Index.js"></script>
</body>
</html>



@*
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css"/>
    <title>TERMINAL</title>
</head>

<body>
    <div>
        <h2 class="txt">
            TERMINAL
        </h2>
    </div>
    <div id="console">
        <h6 style="color: #ffffff;">
            TERMINAL
        </h6>
        <div id="output"></div>
            <input id="input" type="text" autofocus>
    </div>
*@
    @* <script> *@
        @*
    @* </script> *@
@*</body>*@
