@page
@model TerminalModel
@{
    ViewData["Title"] = "TERMINAL";
}

<!DOCTYPE html>
<html>
<head>
    <title>Web Terminal</title>
    <link rel="stylesheet" href="~/css/styles.css"/>
</head>
<body>
    <div id="console">
        <h6 style="color: #ffffff;">
            TERMINAL
        </h6>
        <div id="output"></div>
            <input id="input" type="text" autofocus>
    </div>

        <script src="~/js/Index.js"></script>
</body>
</html>


