@page
@model YourPageModel
@{
    ViewData["Title"] = "YourPage";
}
@* <h1>@ViewData["Title"]</h1> *@

<!DOCTYPE html>
<html>
<head>
    <title>Web Terminal</title>
    <link rel="stylesheet" href="~/css/YourFile.css"/>
</head>
<body>
    <H1 class="txt">Make your own automated acc</H1>   

    <script src="~/js/Index.js"></script>
</body>
</html>